<h1>
  <%= link_to 'Cancel', poses_path, class: button_classes('secondary right') %>
  Editing Pose
</h1>

<center class='mb-2'><%= display_pose_image(@pose) %></center>

<%= render 'form', pose: @pose %>

<hr>
<td><%= link_to 'Delete', @pose, class: button_classes('danger'), method: :delete, data: { confirm: 'Are you sure?' } %></td>
